@charset "utf-8";
/* CSS Document */

body {
	
	background-color: #FFFFFF;
	

}

.container {
	padding-top: 25px;
	
	
}

.row{
	background-color: #fff
	
	
}

.row-main{
	
	
}

.col-md-3{
	text-align: center;
	
}

.body-pelajaran {
	padding: 10px;
	
	
}

.card-text{
	text-align: center;
}


