@charset "utf-8";
/* CSS Document */

body {
	
	background-color: #FFFFFF;
	

}



.container {
	
	padding-top: 25px;
	
	
}


.col-md-9{
	border : thin;
	border-style: groove;
	border-radius: 15px;
	
}
.kelas{
	border : thin;
	border-style: groove;
	border-radius: 15px;
	}
.row{
	background-color: #fff;
	
	
}
.body-pelajaran {
	border : thin;
	border-style: groove;
	border-radius: 15px;
}

.row-main{
	
	
}

.col-md-3{
	text-align: center;
	
}

.body-pelajaran {
	padding: 10px;
	
	
}

.desc-mtk {
    h4 : 5px; 
	font-weight: 200;
	border: thin;
}

.card-text{
	text-align: center;
}

.card-body {
	font-weight: bold;
}

.text-kecil {
	font-weight: lighter;
}

